{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <style>
        .bootstrap-tagsinput {
            width: 100% !important;
        }

    </style>
{% endblock %}
{% block nav %}
    {{ render(controller(
    'AppBundle:Navmenu:getNavmenu'
    )) }}
{% endblock %}
{% block body %}
    <h1 class="page-title"> {{ page }}
        <small></small>
    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Tools</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Adplexity</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>{{ page }}</span>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 col-xs-12" id="preset">
                                <select id="selectOptionPreset" class="select2_multiple form-control" multiple="multiple">
                                    {% for item in presets %}
                                        <option value="{{ item.id }}">{{ item.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                <button class="btn blue spinnerBtn ladda-button" id="executeBtn" data-style="expand-right" data-size="l"><span class="ladda-label"><i class="fa fa-play"></i> Execute</span></button>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div id="resultContainer">

        </div>

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/global/plugins/autosize/autosize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script>
        Ladda.bind( '.spinnerBtn' );
    </script>
    <script type="text/javascript">

        var ComponentsSelect2 = function() {

            var handleDemo = function() {

                // Set the "bootstrap" theme as the default theme for all Select2
                // widgets.
                //
                // @see https://github.com/select2/select2/issues/2927
                $.fn.select2.defaults.set("theme", "bootstrap");


                $("#selectOptionPreset").select2({
                    placeholder: "Select Preset",
                    allowClear: true
                });


                // @see https://select2.github.io/examples.html#data-ajax
                function formatRepo(repo) {
                    if (repo.loading) return repo.text;

                    var markup = "<div class='select2-result-repository clearfix'>" +
                        "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
                        "<div class='select2-result-repository__meta'>" +
                        "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

                    if (repo.description) {
                        markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                    }

                    markup += "<div class='select2-result-repository__statistics'>" +
                        "<div class='select2-result-repository__forks'><span class='glyphicon glyphicon-flash'></span> " + repo.forks_count + " Forks</div>" +
                        "<div class='select2-result-repository__stargazers'><span class='glyphicon glyphicon-star'></span> " + repo.stargazers_count + " Stars</div>" +
                        "<div class='select2-result-repository__watchers'><span class='glyphicon glyphicon-eye-open'></span> " + repo.watchers_count + " Watchers</div>" +
                        "</div>" +
                        "</div></div>";

                    return markup;
                }

                function formatRepoSelection(repo) {
                    return repo.full_name || repo.text;
                }

                $(".js-data-example-ajax").select2({
                    width: "off",
                    ajax: {
                        url: "https://api.github.com/search/repositories",
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function(data, page) {
                            // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data
                            return {
                                results: data.items
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function(markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection
                });

                $("button[data-select2-open]").click(function() {
                    $("#" + $(this).data("select2-open")).select2("open");
                });

                $(":checkbox").on("click", function() {
                    $(this).parent().nextAll("select").prop("disabled", !this.checked);
                });

                // copy Bootstrap validation states to Select2 dropdown
                //
                // add .has-waring, .has-error, .has-succes to the Select2 dropdown
                // (was #select2-drop in Select2 v3.x, in Select2 v4 can be selected via
                // body > .select2-container) if _any_ of the opened Select2's parents
                // has one of these forementioned classes (YUCK! ;-))
                $(".select2, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function() {
                    if ($(this).parents("[class*='has-']").length) {
                        var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);

                        for (var i = 0; i < classNames.length; ++i) {
                            if (classNames[i].match("has-")) {
                                $("body > .select2-container").addClass(classNames[i]);
                            }
                        }
                    }
                });

                $(".js-btn-set-scaling-classes").on("click", function() {
                    $("#select2-multiple-input-sm, #select2-single-input-sm").next(".select2-container--bootstrap").addClass("input-sm");
                    $("#select2-multiple-input-lg, #select2-single-input-lg").next(".select2-container--bootstrap").addClass("input-lg");
                    $(this).removeClass("btn-primary btn-outline").prop("disabled", true);
                });
            }

            return {
                //main function to initiate the module
                init: function() {
                    handleDemo();
                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function() {

                ComponentsSelect2.init();

            });
        }


    </script>
    <script type="text/javascript">

        $(document).on('ready', function() {

            var fixedHeaderOffset = 0;
            if (App.getViewPort().width < App.getResponsiveBreakpoint('md')) {
                if ($('.page-header').hasClass('page-header-fixed-mobile')) {
                    fixedHeaderOffset = $('.page-header').outerHeight(true);
                }
            } else if ($('.page-header').hasClass('navbar-fixed-top')) {
                fixedHeaderOffset = $('.page-header').outerHeight(true);
            } else if ($('body').hasClass('page-header-fixed')) {
                fixedHeaderOffset = 64; // admin 5 fixed height
            }
            var table = $('#datatable-responsive');
            var oTable = $('#datatable-responsive').DataTable({
                fixedHeader: {
                    header: true,
                    headerOffset: fixedHeaderOffset
                },
                "ajax": '/data_table_tmp_files/adplexity/report-automated.txt',
                responsive: {
                    details: {}
                },
                "iDisplayLength": 20,
                "lengthMenu": [
                    [20, 500, 1000, -1],
                    [20, 500, 1000, "All"] // change per page values here
                ],
                "order": [[ 1, "desc" ]],
                "columnDefs": [
                    {"width": "40%", "targets": 0},
                    {"width": "10%", "targets": 1},
                    {"width": "40%", "targets": 2}
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                //dom: '<"wrapper"lBfrtip>',
                //dom: '<lB<frt>ip>',
                "dom": "<'row' <'col-md-12'>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            });


            $('#executeBtn').on('click', function(){

                $btn = $(this)[0];

                $data = {
                    preset: $('#selectOptionPreset').val(),
                    index: 0
                }
                App.blockUI({ message: '<h2><i class="fa fa-spinner fa-spin"></i><span id="progress-label">Processing...</span></h2>' });
                $('#resultContainer').empty();
                executeAutomatedAdpexitySettings($btn, $data);

            });

            if($('#selectAggregation').val() == ''){
                $('#aggregation').addClass('has-error');
                $hasErrorA = 1;
            }else{
                $('#aggregation').removeClass('has-error');
                $hasErrorA = 0;
            }

            if($('#selectMetric').val() == ''){
                $('#metric').addClass('has-error');
                $hasErrorM = 1;
            }else{
                $('#metric').removeClass('has-error');
                $hasErrorM = 0;
            }


            if($('#selectDateRange').val() == ''){
                $('#dateRange').addClass('has-error');
                $hasErrorD = 1;
            }else{
                $('#dateRange').removeClass('has-error');
                $hasErrorD = 0;
            }



            if($('#selectOptionCountries').val() == '' || $('#selectOptionCountries').val() == null){
                $('#countries').addClass('has-error');
                $hasErrorC = 1;
            }else{
                $('#countries').removeClass('has-error');
                $hasErrorC = 0;
            }

            if($hasErrorA == 0 && $hasErrorM == 0 && $hasErrorD == 0 && $hasErrorC == 0) {
                if ($('#selectOptionCountries').val() != null) {
                    $countries = $('#selectOptionCountries').val().join(',');
                } else {
                    $countries = '';
                }
                if ($('#selectOptionAdTypes').val() != null) {
                    $adTypes = $('#selectOptionAdTypes').val().join(',');
                } else {
                    $adTypes = '';
                }
                if ($('#selectOptionNetworks').val() != null) {
                    $networks = $('#selectOptionNetworks').val().join(',');
                } else {
                    $networks = '';
                }
                if ($('#selectOptionSources').val() != null) {
                    $sources = $('#selectOptionSources').val().join(',');
                } else {
                    $sources = '';
                }
                $btn = $('#executeBtn')[0];
                $data = {
                    aggregation: $('#selectAggregation').val(),
                    metric: $('#selectMetric').val(),
                    dateRange: $('#selectDateRange').val(),
                    daysRunning: $('#selectDaysRunning').val(),
                    countries: $countries,
                    adTypes: $adTypes,
                    affiliateNetworks: $networks,
                    trafficSources: $sources,
                    count: 100,
                    action: 'automated'
                };

                console.log($data);
                App.blockUI({message: '<h2><i class="fa fa-spinner fa-spin"></i> Processing...</h2>'});
                getAdplexityReport($btn, $data);
            }

        });

    </script>


    <!-- AJAX CALLS -->
    <script src="{{ asset('assets/ajax/extras/extras.js') }}" type="text/javascript"></script>
    <!-- END AJAX CALLS -->
{% endblock %}
