{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/clockface/css/clockface.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block nav %}
    {{ render(controller(
    'AppBundle:Navmenu:getNavmenu'
    )) }}
{% endblock %}
{% block body %}
    <h1 class="page-title"> {{ page }}

    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>
                <span>Campaign</span>
             <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>{{ page }}</span>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-title">
                     <div class="caption font-green-sharp">
                        <i class="fa fa-bullhorn font-green-sharp"></i>
                        <span class="caption-subject bold uppercase" id="campaignTitleName">Campaign Name</span>
                            <input type="hidden" id="id">

                     </div>
                     <div class="actions">
                        <a href="javascript:;" class="btn btn-circle btn-danger" data-toggle="modal" data-target="#delete-modal" data-style="expand-right" data-size="l" disabled>
                            <span class="ladda-label"><i class="fa fa-trash"></i> Delete </span></a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>

                        <!-- Delete Modal -->
                         <div id="delete-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                             <div class="modal-dialog modal-md">
                                 <div class="modal-content">

                                     <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                         </button>
                                         <h4 class="modal-title" id="myModalLabel"><i class="fa fa-alert"></i> Warning</h4>
                                     </div>
                                     <div class="modal-body">
                                         <h4>Are you sure do want to delete <span id="campaignToDelete"></span>?</h4>

                                     </div>
                                     <div class="modal-footer">

                                         <button type="button" name="deleteCampaignBtnSubmit" id="deleteCampaignBtnSave" class="btn btn-danger spinnerBtn ladda-button" data-style="expand-right" data-size="l"><span class="lada-label">  Delete</span></button>

                                     </div>

                                 </div>
                             </div>
                         </div>
                        <!-- end modal -->
                         <!-- Delete Modal -->
                         <div id="deleteRuleModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                             <div class="modal-dialog modal-sm">
                                 <div class="modal-content">

                                     <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                         </button>
                                         <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Warning</h4>
                                     </div>
                                     <div class="modal-body">
                                         <h4>Are you sure do want to delete rule?</h4>

                                     </div>
                                     <div class="modal-footer">
                                            <input type="hidden" id="campaignRuleIdDelete">
                                         <button type="button" id="deleteRuleBtnSubmit" class="btn btn-danger spinnerBtn ladda-button" data-style="expand-right" data-size="l"><span class="lada-label">  Delete</span></button>

                                     </div>

                                 </div>
                             </div>
                         </div>
                         <!-- end modal -->
                     </div>
                </div>

                    <div class="portlet-body">

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">

                                    <select id="selectCampaign" class="select2_single form-control" tabindex="-1" name="campaign">
                                        <option></option>
                                        {% for campaign in campaigns %}
                                            <option data-geo="{{ campaign.geo }}" value="{{ campaign.id }}">{{ campaign.campName }}</option>
                                        {% endfor  %}
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="input-group">
                                        <select id="selectAddVertical" class="select2" tabindex="-1">
                                            <option></option>
                                            {% for vertical in verticals %}
                                                <option value="{{ vertical.id }}">{{ vertical.verticalName }}</option>
                                            {% endfor  %}
                                        </select>
                                        <span style="cursor:pointer;" class="add-on input-group-addon label-info" id="addVerticalBtn"><i style="color: #fff;" class="glyphicon glyphicon-plus"></i></span>
                                        <span style="cursor:pointer;" class="add-on input-group-addon label-warning" id="removeVerticalBtn"><i style="color: #fff;" class="glyphicon glyphicon-remove"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-12">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                        <input type="text" class="form-control" name="geo" id="campGeo" disabled>
                                    </div>

                                </div>

                                <div class="col-md-2 col-xs-12">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox has-dark">
                                            <input type="checkbox" id="checkboxShowCampaigns" value="1" class="md-check">
                                            <label for="checkboxShowCampaigns">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Show All Campaigns </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 col-xs-12">
                                    <button id="addCampaignBtn" class="btn blue spinnerBtn ladda-button"  data-style="expand-right" data-size="l"> <span class="ladda-label"><i class="fa fa-save"></i> Save </span></button>
                                </div>
                            </div>
                        </div>


                </div>
                <div class="clearfix"></div>
                <br>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-book font-green-sharp"></i>
                        <span class="caption-subject bold uppercase" id="campaignTitleName">Rules</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2 col-xs-12">
                                <select id="selectPresetType" class="select2_single form-control" tabindex="-1">
                                    <option value="presetRule" selected>Preset Rule</option>
                                    <option value="customRule">Custom Rule</option>
                                </select>
                            </div>

                            <div class="col-md-2 col-xs-12">
                                <select id="selectPresetRule" class="select2_single form-control" tabindex="-1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="actions pull-left col-md-2 col-xs-12">

                                            <select id="selectRuleType" class="select2_single form-control" tabindex="-1">
                                                <option></option>
                                                <option value="botRule">Bot Rule</option>
                                                <option value="blacklistRule">Blacklist Rule</option>
                                                <option value="whitelist">Whitelist</option>
                                                <option value="autobid">Autobid</option>
                                            </select>
                                    </div>
                                    <div class="actions pull-left col-md-2 col-xs-12" style="margin-left: 10px;">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                <input type="text" class="form-control date-picker" placeholder="Start From" id="startFrom">
                                            </div><!-- input-group -->

                                    </div>
                                    <div class="actions pull-left col-md-1 col-xs-12" style="margin-left: 10px;">

                                            <input type="text" class="form-control" id="frequency" placeholder="Frequency" onkeypress="return isNumberKey(event)" value="5">

                                    </div>
                                    <div class="actions pull-left col-md-2 col-xs-12" style="margin-left: 10px;">

                                            <select id="selectFrequencyFormat" class="select2_single form-control" tabindex="-1">
                                                <option value="minutes">Minutes</option>
                                                <option value="hours">Hours</option>
                                            </select>

                                    </div>

                                    <div class="actions pull-left col-md-2 col-xs-12" style="margin-left: 10px;">

                                        <select id="selectLogicalOperator" class="select2_single form-control" tabindex="-1">
                                            <option></option>
                                            <option value="and">And</option>
                                            <option value="or">Or</option>
                                        </select>

                                    </div>

                                    <div class="actions">
                                        <button type="button" class="btn btn-circle green btn-sm ladda-button pull-right spinnerBtn" id="addRuleBtn" data-style="expand-right" data-size="s">
                                                    <span class="ladda-label">
                                                        <i class="fa fa-plus"></i> Add Rule</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="portlet-body" >
                                    <div id="appendRuleSet">
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a id="addCondition">[ add condition ]</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-rocket font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Active Rules</span>
                    </div>
                </div>
                <div class="portlet-body" id="appendAppendActiveRules">

                </div>


                <div class="clearfix"></div>
                <br>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-table font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Data Table</span>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <select id="filterByType" class="select2_single form-control" tabindex="-1">
                            <option></option>
                            <option value="botRule">Bot Rule</option>
                            <option value="blacklistRule">Blacklist Rule</option>
                            <option value="whitelist">Whitelist</option>
                            <option value="autobid">Autobid</option>
                        </select>
                    </div>



                </div>
                <div class="portlet-body">
                    <div class="row">
                        <!-- Placement Table -->
                        <div class="col-lg-12">
                            <table class="table table-striped table-bordered table-hover dt-responsive table-checkable order-column table-header-fixed" width="100%" id="datatable-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#datatable-responsive .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>Type</th>
                                    <th>Placements</th>
                                    <th>Visits</th>
                                    <th>Clicks</th>
                                    <th>CTR</th>
                                    <th>Conversions</th>
                                    <th>Revenue</th>
                                    <th>Cost</th>
                                    <th>Profit</th>
                                    <th>CPV</th>
                                    <th>EPV</th>
                                    <th>ROI</th>
                                    <th>Status</th>

                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/global/plugins/autosize/autosize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/clockface/js/clockface.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/components-date-time-pickers.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/components-bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script>
        Ladda.bind( '.spinnerBtn' );
    </script>
    <script type="text/javascript">

        var ComponentsSelect2 = function() {

            var handleDemo = function() {

                // Set the "bootstrap" theme as the default theme for all Select2
                // widgets.
                //
                // @see https://github.com/select2/select2/issues/2927
                $.fn.select2.defaults.set("theme", "bootstrap");

                $("#selectCampaign").select2({
                    allowClear: true,
                    placeholder: 'Select Campaign',
                    width: null
                });

                $("#selectAddVertical").select2({
                    allowClear: true,
                    placeholder: 'Select Vertical',
                    width: null
                });

                $("#selectPresetType").select2({
                    allowClear: true,
                    placeholder: 'Select Preset Type',
                    width: null
                });

                $("#selectPresetRule").select2({
                    allowClear: true,
                    placeholder: 'Choose Preset',
                    width: null
                });

                $("#selectFrequencyFormat").select2({
                    allowClear: true,
                    placeholder: 'Select Frequency Format',
                    width: null
                });

                $("#selectLogicalOperator").select2({
                    allowClear: true,
                    placeholder: 'Select Logical Operator',
                    width: null
                });

                $("#selectRuleType").select2({
                    allowClear: true,
                    placeholder: 'Select Rule Type',
                    width: null
                });

                $("#filterByType").select2({
                    allowClear: true,
                    placeholder: 'Select Rule Type',
                    width: null
                });
                // @see https://select2.github.io/examples.html#data-ajax
                function formatRepo(repo) {
                    if (repo.loading) return repo.text;

                    var markup = "<div class='select2-result-repository clearfix'>" +
                            "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
                            "<div class='select2-result-repository__meta'>" +
                            "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

                    if (repo.description) {
                        markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                    }

                    markup += "<div class='select2-result-repository__statistics'>" +
                    "<div class='select2-result-repository__forks'><span class='glyphicon glyphicon-flash'></span> " + repo.forks_count + " Forks</div>" +
                    "<div class='select2-result-repository__stargazers'><span class='glyphicon glyphicon-star'></span> " + repo.stargazers_count + " Stars</div>" +
                    "<div class='select2-result-repository__watchers'><span class='glyphicon glyphicon-eye-open'></span> " + repo.watchers_count + " Watchers</div>" +
                    "</div>" +
                    "</div></div>";

                    return markup;
                }

                function formatRepoSelection(repo) {
                    return repo.full_name || repo.text;
                }

                $(".js-data-example-ajax").select2({
                    width: "off",
                    ajax: {
                        url: "https://api.github.com/search/repositories",
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function(data, page) {
                            // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data
                            return {
                                results: data.items
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function(markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection
                });

                $("button[data-select2-open]").click(function() {
                    $("#" + $(this).data("select2-open")).select2("open");
                });

                $(":checkbox").on("click", function() {
                    $(this).parent().nextAll("select").prop("disabled", !this.checked);
                });

                // copy Bootstrap validation states to Select2 dropdown
                //
                // add .has-waring, .has-error, .has-succes to the Select2 dropdown
                // (was #select2-drop in Select2 v3.x, in Select2 v4 can be selected via
                // body > .select2-container) if _any_ of the opened Select2's parents
                // has one of these forementioned classes (YUCK! ;-))
                $(".select2, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function() {
                    if ($(this).parents("[class*='has-']").length) {
                        var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);

                        for (var i = 0; i < classNames.length; ++i) {
                            if (classNames[i].match("has-")) {
                                $("body > .select2-container").addClass(classNames[i]);
                            }
                        }
                    }
                });

                $(".js-btn-set-scaling-classes").on("click", function() {
                    $("#select2-multiple-input-sm, #select2-single-input-sm").next(".select2-container--bootstrap").addClass("input-sm");
                    $("#select2-multiple-input-lg, #select2-single-input-lg").next(".select2-container--bootstrap").addClass("input-lg");
                    $(this).removeClass("btn-primary btn-outline").prop("disabled", true);
                });
            }

            return {
                //main function to initiate the module
                init: function() {
                    handleDemo();
                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            $(document).ready(function() {
                ComponentsSelect2.init();

                /**
                 * Data Table
                 */

                var fixedHeaderOffset = 0;
                if (App.getViewPort().width < App.getResponsiveBreakpoint('md')) {
                    if ($('.page-header').hasClass('page-header-fixed-mobile')) {
                        fixedHeaderOffset = $('.page-header').outerHeight(true);
                    }
                } else if ($('.page-header').hasClass('navbar-fixed-top')) {
                    fixedHeaderOffset = $('.page-header').outerHeight(true);
                } else if ($('body').hasClass('page-header-fixed')) {
                    fixedHeaderOffset = 64; // admin 5 fixed height
                }
                var table = $('#datatable-responsive');
                var oTable = $('#datatable-responsive').DataTable({
                    fixedHeader: {
                        header: true,
                        headerOffset: fixedHeaderOffset
                    },
                    "bProcessing": true,
                    "bServerSide": true,
                    "fnServerData": function (sSource, aoData, fnCallback) {
                        /* Add some extra data to the sender */
                        aoData.push({"name": "type", "value": $('#filterByType').val()});
                        $.getJSON(sSource, aoData, function (json) {
                            /* Do whatever additional processing you want on the callback, then tell DataTables */
                            fnCallback(json)
                        });
                    },
                    "sAjaxSource": "/ajax/get-placement-list/{{ tid }}",

                    responsive: {
                        details: {

                        }
                    },
                    "iDisplayLength": 50,
                    "lengthMenu": [
                        [50, 200, 500, 1000, -1],
                        [50, 200, 500, 1000, "All"] // change per page values here
                    ],
                    "columnDefs": [
                        {  // set default column settings
                            'orderable': false,
                            'targets': [0]
                        },
                        {
                            "searchable": false,
                            "targets": [0]
                        },
                        {
                            "className": "dt-right"
                            //"targets": [2]
                        }
                    ],
                    "order": [[3, "desc"]],
                    select: {
                        style: 'os',
                        selector: 'td:first-child'
                    },
                    //dom: '<"wrapper"lBfrtip>',
                    //dom: '<lB<frt>ip>',
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    buttons: [
                        {
                            className: 'btn dark btn-outline',
                            text: '<i class="fa fa-refresh"></i> Refresh Table',
                            header: false,
                            action: function ( e, dt, node, config ) {
                                oTable.ajax.reload();
                            }
                        },
                        {
                            className: 'btn blue btn-outline ',
                            text: '<i class="fa fa-save"></i> Save Data',
                            header: false,
                            action: function ( e, dt, node, config ) {
                                var data = {items:[]};
                                $('input:checkbox.report-record').each(function () {


                                    if($(this).is(':checked') == true){
                                        var id = (this.checked ? $(this).data('id') : "");
                                        data.items.push({id: id});
                                    }


                                });

                                console.log(data);
                                saveData(data);
                            }
                        },
                        {
                            className: 'btn red btn-outline',
                            text: '<i class="fa fa-trash"></i> Delete Data',
                            header: false,
                            action: function ( e, dt, node, config ) {
                                var data = {items:[]};
                                $('input:checkbox.report-record').each(function () {


                                    if($(this).is(':checked') == true){
                                        var id = (this.checked ? $(this).data('id') : "");
                                        data.items.push({id: id});
                                    }


                                });

                                console.log(data);
                                deleteData(data);
                            }
                        },
                        {
                            extend: 'copyHtml5',
                            className: 'btn green btn-outline',
                            text: '<i class="fa fa-copy"></i> Copy to Clipboard',
                            header: false,
                            exportOptions: {
                                columns: [2]
                            }
                        },
                    ]


                });

                table.find('.group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).prop("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).prop("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                });

                table.on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });


                $('#datatable-responsive').checkboxes('range', true);

                $('#filterBtn').click(function () {
                    var l = Ladda.create($(this)[0]);
                    l.start();

                    oTable.ajax.reload(function () {
                        l.stop();
                    });
                });

                $('#filterByType').change(function(){
                    oTable.ajax.reload();
                });


                /**
                 * Get Campaigns
                 */
                if($('#checkboxShowCampaigns').is(':checked') == true){
                    $getCampaignData = {
                        days: 30,
                        trafficSourceName: '{{ trafficSourceName }}',
                        trafficSourceId: '{{ trafficSourceId }}'

                    }
                }else{
                    $getCampaignData = {
                        days: 3,
                        trafficSourceName: '{{ trafficSourceName }}',
                        trafficSourceId: '{{ trafficSourceId }}'
                    }
                }

                apiGetCampaign($getCampaignData);


                /**
                 * Add/Remove Vertical
                 */

                $('#addVerticalBtn').tooltip({title: "<div class='row'><div class='col-lg-12'>Vertical<br><input class='form-control' type='text' id='vertical-value'/><br><hr><a onClick='insertVertical(this)' id='save_vertical' class='btn btn-info btn-xs spinnerBtn ladda-button' data-style='expand-right' data-size='s' ><span class='ladda-label'>Add</span></a><br><br></div></div>", html: true, placement: "top", trigger: "click"});
                $('#addVerticalBtn').on('click', function(){
                $('#vertical-value').focus();});

                $('#removeVerticalBtn').tooltip({title: "<div style='width: 150px;' class='row'>" +
                "<div class='col-lg-12'>Select vertical" +
                "<br>" +
                "<select id='selectRemoveVertical' class='form-control'>" +
                "</select>" +
                "<br><hr><a onClick='removeVertical(this)' id='remove_vertical' class='btn btn-info btn-xs spinnerBtn ladda-button' data-style='expand-right' data-size='s'  data-style='expand-right' data-size='s'>Remove</a>" +
                "<br><br></div></div>", html: true, placement: "top", trigger: "click"});

                $('#removeVerticalBtn').on('click', function(){
                    getVerticals();
                });


                /**
                 * Select Campaign On Change
                 */

                $('#selectCampaign').on('change', function(){
                    var geo = $('#selectCampaign option:selected').data('geo');
                    var selCamp = encodeURIComponent($('#selectCampaign').val());
                    var geoCamp = $('#campGeo').val
                    $('#campGeo').val(geo);

                    $('#appendAppendActiveRules').empty();
                    getCampaignMatch(selCamp);



                    if(selCamp != '' && geoCamp != ''){
                        $('#addCampaignBtn').attr('disabled', false);
                    }

                });

                /**
                 * Show all campaigns on change
                 */
                $('#checkboxShowCampaigns').on('change', function(){
                    if($('#checkboxShowCampaigns').is(':checked') == true){
                        $getCampaignData = {
                            days: 30,
                            trafficSourceName: '{{ trafficSourceName }}',
                            trafficSourceId: '{{ trafficSourceId }}'

                        }
                    }else{
                        $getCampaignData = {
                            days: 3,
                            trafficSourceName: '{{ trafficSourceName }}',
                            trafficSourceId: '{{ trafficSourceId }}'
                        }
                    }

                    apiGetCampaign($getCampaignData);
                });


                /**
                 * Adding Campaign
                 */

                $('#addCampaignBtn').click(function(){
                    $btn = $(this)[0];
                    $campaignName = $('#selectCampaign option:selected').data('campname');
                    $campaignId = $('#selectCampaign option:selected').data('campid');
                    $voluumId = $('#selectCampaign option:selected').data('voluumid');
                    $verticalId = $('#selectAddVertical').val();
                    $geo = $('#selectCampaign option:selected').data('geo');
                    $addCampaignData = {
                        trafficSourceId: '{{ tid }}',
                        campaignName: $campaignName,
                        campaignId: encodeURIComponent($campaignId),
                        voluumId: encodeURIComponent($voluumId),
                        verticalId: $verticalId,
                        geo: $geo
                    }

                    $selCamp = encodeURIComponent($('#selectCampaign').val());
                    addCampaign($btn, $addCampaignData, $selCamp);

                });

                /**
                 * Adding Rule
                 */

                $i = 0;
                $dataConditions = {
                    items:[]
                };

                $('#addCondition').click(function(){

                    $('#appendRuleSet').append(
                            '<div class="row" id="row-'+$i+'">' +
                            '<br>' +
                            '<div class="col-md-3">' +
                                '<select id="metric-'+$i+'" class="select2_single form-control metric" tabindex="-1">' +
                                '<option></option>' +
                                '<option value="visits">Visits</option>' +
                                '<option value="conversions">Conversion</option>' +
                                '<option value="cost">Cost</option>' +
                                '<option value="cpv">CPV</option>' +
                                '<option value="ctr">CTR</option>' +
                                '<option value="epv">EPV</option>' +
                                '<option value="roi">ROI</option>' +
                                '</select>' +
                            '</div>' +
                            '<div class="col-md-3">' +
                                '<select data-index="' +$i+ '" onChange="enableInputValue(this)" id="option-'+$i+'" class="select2_single form-control option" tabindex="-1">' +
                                '<option></option>' +
                                '<option value="greaterThan">Greater Than</option>' +
                                '<option value="lessThan">Less Than</option>' +
                                '<option value="between">Between</option>' +
                                '<option value="equalTo">Equal To</option>' +
                                '</select>' +
                            '</div>' +
                            '<div class="col-md-2">' +
                                '<input type="text" class="form-control" id="value1-'+$i+'" placeholder="Enter Value" onkeypress="isNumberKey(event)">'+
                            '</div>' +
                            '<div class="col-md-2">' +
                                '<input type="text" class="form-control" id="value2-'+$i+'" placeholder="Enter Value" onkeypress="isNumberKey(event)" disabled>'+
                            '</div>' +
                            '<div class="col-md-2">' +
                                '<button class="btn red btn-md" data-index="'+$i+'" onclick="removeAppend(this)"><i class="fa fa-times"></i> Remove</button">' +
                            '</div>' +
                            '</div>'

                    );

                    $dataConditions.items.push({
                        metric: 'metric-'+$i,
                        option: 'option-'+$i,
                        value1: 'value1-'+$i,
                        value2: 'value2-'+$i
                    });

                    $i++;


                    $(".metric").select2({
                        allowClear: true,
                        placeholder: 'Select Metric',
                        width: null
                    });

                    $(".option").select2({
                        allowClear: true,
                        placeholder: 'Select Option',
                        width: null
                    });



                });








                $('#addRuleBtn').click(function(){
                    $btn = $(this)[0];
                    if($('#selectFrequencyFormat').val() == 'hours'){
                        $frequency = parseInt($('#frequency').val()) * 3600;
                    }else{
                        $frequency = parseInt($('#frequency').val()) * 60;
                    }
                     $data = {
                         ruleType: $('#selectRuleType').val(),
                         startFrom: $('#startFrom').val(),
                         frequency: $frequency,
                         logicalOperator: $('#selectLogicalOperator').val(),
                         cid: $('#id').val(),
                         conditions: []
                     }
                    $indexes = [];
                    $.each($dataConditions.items, function(i, val) {
                        if (typeof val != 'undefined') {
                                $data.conditions.push({
                                    metric: $('#' + val['metric']).val(),
                                    option: $('#' + val['option']).val(),
                                    value1: $('#' + val['value1']).val(),
                                    value2: $('#' + val['value2']).val()
                                });
                            $indexes.push(i);
                        }
                    });
                    $selCamp = encodeURIComponent($('#selectCampaign').val());
                    addRule($btn, $data, $selCamp, $indexes);




                });



                /**
                 * Deleting Rule
                 */
                $('#deleteRuleBtnSubmit').on('click', function(){
                    $btn = $(this)[0];
                    $id = $('#campaignRuleIdDelete').val();
                    $selCamp = encodeURIComponent($('#selectCampaign').val());

                    deleteCampaignRule($btn, $id, $selCamp);
                });


            });
        }


        /**
         * Functions
         */

        // insert vertical

        function insertVertical(elem){
            var val = document.getElementById('vertical-value').value;
            addVertical(elem, val);

        }

        //remove vertical

        function removeVertical(elem){
            var val = document.getElementById('selectRemoveVertical').value;
            deleteVertical(elem, val);

        }

        // enable/disable input value
        function enableInputValue(elem){
            var index = elem.getAttribute('data-index');
            var option = elem.value;

            if(option == 'between'){
                $('#value2-'+index).attr('disabled', false);
            }else{
                $('#value2-'+index).attr('disabled', true);
            }


        }

        // remove append

        function removeAppend(elem){
            var index = elem.getAttribute('data-index');
            $('#row-'+index).remove();
            delete $dataConditions.items[index];
        }

        function removeActiveAppend(elem){
            var index = elem.getAttribute('data-index');
            var indexRow = elem.getAttribute('data-index-row');
            var key = elem.getAttribute('data-key');
            $('#row-'+indexRow).remove();

            delete $dataConditionsActive[index].items[key];
        }

        // enable edit rule

        function editRule(elem){
            var index = elem.getAttribute('data-index');
            var action = elem.getAttribute('data-action');
            if(action == 'edit'){
                $('.disableTrigger-'+index).attr('disabled', false);
                $('#buttonsContainer-'+index).css('display', 'none');
                $('#addConditionActiveContainer-'+index).css('display', 'inline');
            }else{
                var selCamp = encodeURIComponent($('#selectCampaign').val());
                $('#appendAppendActiveRules').empty();
                getCampaignMatch(selCamp);
            }

        }

        function disableAllInputs(index){

            $('.disableTrigger-'+index).attr('disabled', true);
            $('#buttonsContainer-'+index).css('display', 'inline');
            $('#addConditionActiveContainer-'+index).css('display', 'none');

        }

        function appendConditionActive(elem){

            var index = elem.getAttribute('data-index');
            var lastCount =  $dataConditionsActive[index].items.length;
            $('#appendRuleSetActive-'+index).append(
                    '<div class="row" id="row-'+index+'-'+lastCount+'">' +
                    '<br>' +
                    '<div class="col-md-3">' +
                    '<select id="metric-'+index+'-'+lastCount+'" class="select2_single form-control metric" tabindex="-1">' +
                    '<option></option>' +
                    '<option value="visits">Visits</option>' +
                    '<option value="conversions">Conversion</option>' +
                    '<option value="cost">Cost</option>' +
                    '<option value="cpv">CPV</option>' +
                    '<option value="ctr">CTR</option>' +
                    '<option value="epv">EPV</option>' +
                    '<option value="roi">ROI</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select id="option-'+index+'-'+lastCount+'" data-index="'+index+'-'+lastCount+'" onChange="enableInputValue(this)" class="select2_single form-control option" tabindex="-1">' +
                    '<option></option>' +
                    '<option value="greaterThan">Greater Than</option>' +
                    '<option value="lessThan">Less Than</option>' +
                    '<option value="between">Between</option>' +
                    '<option value="equalTo">Equal To</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" class="form-control" id="value1-'+index+'-'+lastCount+'" placeholder="Enter Value" onkeypress="isNumberKey(event)">'+
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" class="form-control" id="value2-'+index+'-'+lastCount+'" placeholder="Enter Value" onkeypress="isNumberKey(event)" disabled>'+
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<button class="btn red btn-md" data-index-row="'+index+'-'+lastCount+'" data-index="'+index+'" data-key="'+lastCount+'"  onclick="removeActiveAppend(this)"><i class="fa fa-times"></i> Remove</button">' +
                    '</div>' +
                    '</div>'

            );

            $dataConditionsActive[index].items.push({
                metric: 'metric-'+index+'-'+lastCount,
                option: 'option-'+index+'-'+lastCount,
                value1: 'value1-'+index+'-'+lastCount,
                value2: 'value2-'+index+'-'+lastCount
            });

            $(".metric").select2({
                allowClear: true,
                placeholder: 'Select Metric',
                width: null
            });

            $(".option").select2({
                allowClear: true,
                placeholder: 'Select Option',
                width: null
            });



        }

        function saveRule(elem){
            $btn = $(elem)[0];
            var index = elem.getAttribute('data-index');
            if($('#activeFrequencyFormat-'+index).val() == 'hours'){
                $frequency = parseInt($('#activeFrequency-'+index).val()) * 3600;
            }else{
                $frequency = parseInt($('#activeFrequency-'+index).val()) * 60;
            }
            $dataActive = {
                campaignRulesId: $('#campaignRulesId-'+index).val(),
                ruleType: $('#activeRuleType-'+index).val(),
                startFrom: $('#activeStartFrom-'+index).val(),
                frequency: $frequency,
                logicalOperator: $('#activeLogicalOperator-'+index).val(),
                cid: $('#id').val(),
                conditions: []
            }

                $.each($dataConditionsActive[index].items, function(i, val) {
                    if (typeof i != 'undefined') {
                        if (typeof val != 'undefined') {
                            $dataActive.conditions.push({
                                metric: $('#' + val['metric']).val(),
                                option: $('#' + val['option']).val(),
                                value1: $('#' + val['value1']).val(),
                                value2: $('#' + val['value2']).val()
                            });
                        }
                    }
                });


            var selCamp = encodeURIComponent($('#selectCampaign').val());
            updateRule($btn, $dataActive, selCamp);
        }


        function changeRuleStatus(elem){
            $btn = $(elem)[0];
            var id = elem.getAttribute('data-id');
            var index = elem.getAttribute('data-index');
            var action = elem.getAttribute('data-action');
            if (action == 'pause'){
                $active = 0;
            }else{
                $active = 1;
            }
            $data = {
                campaignRulesId: id,
                active: $active
            }
            var selCamp = encodeURIComponent($('#selectCampaign').val());
            updateChangeRuleStatus($btn, $data, selCamp);

        }

        function pushDataDelete(elem){
            var id = elem.getAttribute('data-id');
            $('#campaignRuleIdDelete').val(id);
        }


    </script>


    <!-- AJAX CALLS -->
    <script src="{{ asset('assets/ajax/campaign/campaign.js') }}" type="text/javascript"></script>
    <!-- END AJAX CALLS -->
{% endblock %}
