{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/clockface/css/clockface.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .align-left{
            text-align: left !important;
            padding-left: 10px !important;
        }
    </style>
{% endblock %}
{% block nav %}
    {{ render(controller(
    'AppBundle:Navmenu:getNavmenu'
    )) }}
{% endblock %}
{% block body %}
    <h1 class="page-title"> {{ page }}

    </h1>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Campaign</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>{{ page }}</span>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light">
                <div class="portlet-title">

                    <div class="col-lg-4 col-md-4">
                        <div class="input-group" id="defaultrange">
                            <input type="text" class="form-control" placeholder="Select Date Range">
                            <span class="input-group-btn">
                                                                <button class="btn default date-range-toggle" type="button">
                                                                        <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <button class="btn blue spinnerBtn ladda-button" id="getCampaigns" data-style="expand-right" data-size="l"><span class="ladda-label"><i class="icon icon-magnifier"></i> Search</span></button>

                    </div>
                    <input type="hidden" id="date-from">
                    <input type="hidden" id="date-to">


                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-lg-12">

                            <table class="table table-striped table-bordered table-hover dt-responsive table-checkable order-column table-header-fixed" width="100%" id="datatable-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#datatable-responsive .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>

                                    <th>Campaign </th>
                                    <th>Traffic Source</th>
                                    <th>Geo </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/global/plugins/autosize/autosize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/clockface/js/clockface.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/components-date-time-pickers.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/scripts/bayes.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/scripts/jStat.js') }}" type="text/javascript"></script>
    <script>
        Ladda.bind( '.spinnerBtn' );
    </script>
    <script type="text/javascript">

        var ComponentsSelect2 = function() {

            var handleDemo = function() {

                // Set the "bootstrap" theme as the default theme for all Select2
                // widgets.
                //
                // @see https://github.com/select2/select2/issues/2927
                $.fn.select2.defaults.set("theme", "bootstrap");

                $(".selectGeo").select2({
                    allowClear: true,
                    placeholder: 'Select Geo',
                    width: null
                });



                $(".selectPreset").select2({
                    allowClear: true,
                    placeholder: 'Select Preset',
                    width: null
                });



                // @see https://select2.github.io/examples.html#data-ajax
                function formatRepo(repo) {
                    if (repo.loading) return repo.text;

                    var markup = "<div class='select2-result-repository clearfix'>" +
                        "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
                        "<div class='select2-result-repository__meta'>" +
                        "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

                    if (repo.description) {
                        markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                    }

                    markup += "<div class='select2-result-repository__statistics'>" +
                        "<div class='select2-result-repository__forks'><span class='glyphicon glyphicon-flash'></span> " + repo.forks_count + " Forks</div>" +
                        "<div class='select2-result-repository__stargazers'><span class='glyphicon glyphicon-star'></span> " + repo.stargazers_count + " Stars</div>" +
                        "<div class='select2-result-repository__watchers'><span class='glyphicon glyphicon-eye-open'></span> " + repo.watchers_count + " Watchers</div>" +
                        "</div>" +
                        "</div></div>";

                    return markup;
                }

                function formatRepoSelection(repo) {
                    return repo.full_name || repo.text;
                }

                $(".js-data-example-ajax").select2({
                    width: "off",
                    ajax: {
                        url: "https://api.github.com/search/repositories",
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function(data, page) {
                            // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data
                            return {
                                results: data.items
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function(markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection
                });

                $("button[data-select2-open]").click(function() {
                    $("#" + $(this).data("select2-open")).select2("open");
                });

                $(":checkbox").on("click", function() {
                    $(this).parent().nextAll("select").prop("disabled", !this.checked);
                });

                // copy Bootstrap validation states to Select2 dropdown
                //
                // add .has-waring, .has-error, .has-succes to the Select2 dropdown
                // (was #select2-drop in Select2 v3.x, in Select2 v4 can be selected via
                // body > .select2-container) if _any_ of the opened Select2's parents
                // has one of these forementioned classes (YUCK! ;-))
                $(".select2, .select2-multiple, .select2-allow-clear, .js-data-example-ajax").on("select2:open", function() {
                    if ($(this).parents("[class*='has-']").length) {
                        var classNames = $(this).parents("[class*='has-']")[0].className.split(/\s+/);

                        for (var i = 0; i < classNames.length; ++i) {
                            if (classNames[i].match("has-")) {
                                $("body > .select2-container").addClass(classNames[i]);
                            }
                        }
                    }
                });

                $(".js-btn-set-scaling-classes").on("click", function() {
                    $("#select2-multiple-input-sm, #select2-single-input-sm").next(".select2-container--bootstrap").addClass("input-sm");
                    $("#select2-multiple-input-lg, #select2-single-input-lg").next(".select2-container--bootstrap").addClass("input-lg");
                    $(this).removeClass("btn-primary btn-outline").prop("disabled", true);
                });
            }

            return {
                //main function to initiate the module
                init: function() {
                    handleDemo();
                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function() {
                ComponentsSelect2.init();
            });
        }


    </script>

    <script>
        $(document).on('ready', function() {



            var fixedHeaderOffset = 0;
            if (App.getViewPort().width < App.getResponsiveBreakpoint('md')) {
                if ($('.page-header').hasClass('page-header-fixed-mobile')) {
                    fixedHeaderOffset = $('.page-header').outerHeight(true);
                }
            } else if ($('.page-header').hasClass('navbar-fixed-top')) {
                fixedHeaderOffset = $('.page-header').outerHeight(true);
            } else if ($('body').hasClass('page-header-fixed')) {
                fixedHeaderOffset = 64; // admin 5 fixed height
            }
            var table = $('#datatable-responsive');
            var oTable = $('#datatable-responsive').DataTable({
                fixedHeader: {
                    header: true,
                    headerOffset: fixedHeaderOffset
                },
                "ajax": '/data_table_tmp_files/campaign/optimization.txt',
                responsive: {
                    details: {}
                },
                "iDisplayLength": 20,
                "lengthMenu": [
                    [20, 500, 1000, -1],
                    [20, 500, 1000, "All"] // change per page values here
                ],
                "order": [[0, "asc"]],
                "columnDefs": [
                    {
                        "orderable": false,
                        "searchable": false,
                        "targets": [0,4]
                    },
                    {"width": "5%", "targets": 0},
                    {"width": "5%", "targets": 4},
                    {className: "text-center", "targets": 0},
                    {className: "text-center", "targets": 4}
                ],
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                buttons: [
                    {
                        className: 'btn blue ',
                        text: '<i class="fa fa-rocket"></i> Optimize',
                        header: false,
                        action: function ( e, dt, node, config ) {
                            var data = {
                                from: $('#date-from').val(),
                                to: $('#date-to').val(),
                                items:[],
                                index: 0
                            };
                            $('input:checkbox.report-record').each(function () {


                                if($(this).is(':checked') == true){
                                    var id = (this.checked ? $(this).data('id') : "");
                                    data.items.push({id: id});
                                }


                            });

                            console.log(data);
                            App.blockUI({ message: '<h2><i class="fa fa-spinner fa-spin"></i> <br> <span id="appBlockMessage">Processing...</span></h2>' });
                            getCampaignById(data);

                        }
                    }
                ],
                "drawCallback": function( settings ) {


                }
            });


            table.find('.group-checkable').change(function () {
                var set = jQuery(this).attr("data-set");
                var checked = jQuery(this).is(":checked");
                jQuery(set).each(function () {
                    if (checked) {
                        $(this).prop("checked", true);
                        $(this).parents('tr').addClass("active");
                    } else {
                        $(this).prop("checked", false);
                        $(this).parents('tr').removeClass("active");
                    }
                });
            });

            table.on('change', 'tbody tr .checkboxes', function () {
                $(this).parents('tr').toggleClass("active");
            });


            $('#datatable-responsive').checkboxes('range', true);


            $('#getCampaigns').on('click', function(){
                $data = {
                        from: $('#date-from').val(),
                        to: $('#date-to').val()
                }
                App.blockUI({ message: '<h2><i class="fa fa-spinner fa-spin"></i> Processing...</h2>' });
                getCampaignOptimization($data);
            });

        });
    </script>

    <script>
        function optimizeCampaign(elem){

                $id = elem.getAttribute('data-id');
                var data = {
                    from: $('#date-from').val(),
                    to: $('#date-to').val(),
                    items:[],
                    index: 0
                };
                data.items.push({
                    id: $id
                });
                console.log(data);
            App.blockUI({ message: '<h2 id="appBlockMessage"><i class="fa fa-spinner fa-spin"></i> Processing...</h2>' });
            getCampaignById(data);

        }
    </script>

    <!-- AJAX CALLS -->
    <script src="{{ asset('assets/ajax/campaign/campaign.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/ajax/extras/extras.js') }}" type="text/javascript"></script>
    <!-- END AJAX CALLS -->
{% endblock %}
